$red: #e30613;
$grey: #4f5665;
$lightGrey: #667085;
$green: #0098a5;
$lightGreen: #d9f4f8;
$black: #111619;
$smoke: #d0d5dd;
$background: #ffffff;
$border: #e4e7ec;
$lightBorder: #f0f0f0;
$cyan: #cceaed;
$errorBg: #fef3f2;
$errorborder: #fecdca;
