.app {
  .appBody {
    height: 100vh;
    margin-top: 68px;
    @media only screen and (max-width: 1201px) {
      margin-top: 96px;
    }
    overflow: hidden;
    .container {
      height: 100%;
      overflow: auto;
    }
  }
}
